body{
  background-image: url(./task/resources/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  > section:first-child{

  }
  > section:nth-child(2){

  }
  > section:last-child{

  }
}