body {
  background-image: url(./task/resources/bg.jpg);
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.308);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
}
body > main > section:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
}
body > main > section:first-child > img {
  height: 30px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 100px;
}
body > main > section:first-child > div {
  display: flex;
  height: 30px;
}
body > main > section:first-child > div > div:first-child {
  border-right: 1px solid white;
}
body > main > section:nth-child(2) {
  height: 200px;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
}
body > main > section:nth-child(2) > h1 {
  text-align: center;
  letter-spacing: 3px;
}
body > main > section:nth-child(2) > h5 {
  text-align: justify;
  font-weight: 100;
  line-height: 2rem;
  letter-spacing: 2px;
}
body > main > section:nth-child(2) > h5 > a {
  color: white;
  text-decoration: underline;
  text-decoration-style: dotted;
}
body > main > section:nth-child(2) > h5 > a:hover {
  color: rgb(54, 54, 189);
}
body > main > section:nth-child(3) {
  display: flex;
  justify-content: center;
  height: 50px;
}
body > main > section:nth-child(3) > div:first-child {
  border-right: 1px solid white;
}
body > main > section:nth-child(4) {
  display: flex;
  flex-direction: column;
}
body > main > section:nth-child(4) > button {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  height: 50px;
  color: white;
  letter-spacing: 2px;
}
body > main > section:nth-child(4) > button:hover {
  background-color: rgba(255, 255, 255, 0.151);
}
body > main > section:nth-child(4) > div:first-child > button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
body > main > section:nth-child(4) > div:last-child > button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
body > main > section:last-child {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 100%;
}
body > main > section:last-child > div {
  display: none;
  flex-direction: column;
  width: 300px;
  color: white;
  background-color: #192228;
  padding: 30px;
  line-height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body > main > section:last-child > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-bottom: 20px;
}
body > main > section:last-child > div > div > h1 {
  text-decoration: underline;
  text-underline-offset: 15px;
  letter-spacing: 3px;
}
body > main > section:last-child > div > div > img {
  height: 40px;
}
body > main > section:last-child > div > div > img:hover {
  transform: rotate(90deg);
  transition: 2000ms;
}
body > main > section:last-child > div > img {
  width: 100%;
}
body > main > section:last-child > div > iframe {
  width: 100%;
  height: 290px;
}

@media (min-width: 768px) {
  body > main > section:first-child {
    padding-top: 250px;
  }
  body > main > section:nth-child(2) {
    display: flex;
    height: 250px;
    justify-content: center;
  }
  body > main > section:nth-child(2) > h1 {
    font-size: 50px;
  }
  body > main > section:nth-child(2) > h5 {
    text-align: center;
  }
  body > main > section:nth-child(4) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  body > main > section:nth-child(4) > button {
    width: 150px;
  }
  body > main > section:last-child > div {
    width: 700px;
  }
}/*# sourceMappingURL=main.css.map */